{% extends 'Base.html' %}

{% load static %}

{% block title %}{{blogs.title}} | {{block.super}}{% endblock %}


{% block content %}

<div class="sidenav">
    <!--Styling of accordion-->
    <style type="text/css">
        [data-toggle="collapse"]:after {
            display: inline-block;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f054";
            transform: rotate(90deg);
            transition: all linear 0.25s;
        }

        [data-toggle="collapse"].collapsed:after {
            transform: rotate(0deg);
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </link>

 <!-- Styling Ends Here -->

    <br><br>
    
    <div id="accordion" role="tablist">
        <div id="headingZero">
            <h5 >
                <a style="color: black;" data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    {{Parent.Name}}
                </a>
            </h5>


        </div>
        <div id="collapseZero"  aria-labelledby="headingZero" style="padding-left: 10%;">
  
        <div>
            {% for category , articles in lis.items %}
            {% if forloop.counter == 1 %}
            <div id="headingOne">
                <h5  >
                    <a  style="color: black;" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{category}}
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse "  aria-labelledby="headingOne"
                data-parent="#accordion">
                <div style="padding-left: 5%;" >

                    {% for article in articles %}
                    <a style="color: gray;" href="{% url 'detail' article.slug1 %}">{{article}}</a>
                    {% endfor %}


                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
     

        <div >
            {% for category , articles in lis.items %}
            {% if forloop.counter > 1 %}
            <div  id="headingtwo">
                <h5 >
                    <a style="color: black;" data-toggle="collapse" href="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                        {{category}}
                    </a>
                </h5>
            </div>
            <div id="collapsetwo" class="collapse "  aria-labelledby="headingtwo"
                data-parent="#accordion">
                <div style="padding-left: 5%;">
                    {% for article in articles %}
                    <a href="{% url 'detail' article.slug1 %}" style="color: grey;">{{article}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>



</div>
</div>
{% if blogs %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    {% block content1 %}
    <article class="single">
        <div class="before-main hero-thumb">
            <div class="hero-wrapper">
                <div class="hero-meta">
                    <h1 class="post-title">{{blogs.title}}</h1>
                </div>
                <div class="hero-cover"
                    style="background-image: url(/media/{{blogs.image}}); background-size: cover; background-position: center; ">
                    <img src="/media/{{blogs.image}}" alt="{{ blogs.title }}" />
                </div>
            </div>
        </div>

        <div id="content"><textarea>{{ blogs.description }}</textarea></div>

        </div>

    </article>
    {% endblock %}
    {% else %}
    <h3 style="text-align: center;">{{Parent}}</h3>
    <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="background-image: url(/media/{{Parent.image}});height:500px; background-repeat: no-repeat;
    ">
    </main> -->
    {% endif %}

    {% endblock %}





    <!-- <div id="accordion">
    {% for category , articles in lis.items %}

    <h3>{{category}}</h3>

    <p>
        {% for article in articles %}
        <a href="{% url 'detail' article.slug1 %}">{{article}}</a>
        {% endfor%}

    </p>

    {% endfor %}

</div> -->