{% extends 'Base.html' %}
{% load static %}
{% block title %}{{blogs.title}} | {{block.super}}{% endblock %}
{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</link>

<div class="sidenav">

    <!--Styling of accordion-->
    <style type="text/css">
        [data-toggle="collapse"]:after {
            display: inline-block;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f054";
            transform: rotate(90deg);
            transition: all linear 0.25s;
        }

        [data-toggle="collapse"].collapsed:after {
            transform: rotate(0deg);
        }
    </style>

    <style>

.btn,
.btn:active,
.btn:focus,
.btn:visited {
background-color: white !important;
    border: none !important;
}

.btn-link,
.btn-link:visited,
.btn:focus,
.btn:active,
.btn:hover {
    font-weight: bold;
    color: rgb(13, 172, 92);
    text-decoration: none !important;
}
    </style>

    <!-- Side Bar Collapse -->
    <div class="accordion" id="accordionExample">
        <button class="btn btn-link mt-5" style="color: black;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
            {{Parent.Name}}
          </button>      
      <div id="collapseOne" class="ml-3 collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        {% for category , articles in lis.items %}
        <div class="accordion" id="accordion{{category}}">
        <button class="btn btn-link collapsed" style="color: black;" type="button" data-toggle="collapse" data-target="#collapse{{category}}" aria-expanded="false" aria-controls="collapse{{category}}" id="heading{{category}}">
            {{category}}
          </button>
          <div id="collapse{{category}}" class="collapse show" aria-labelledby="heading{{category}}" data-parent="#accordion{{category}}">
            {% for article in articles %}
            <a style="color: gray;" href="{% url 'detail' article.slug1 %}">{{article}}</a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>

      </div>

    <!-- End of Side Bar Collapse -->

</div>
{% if blogs %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    {% block content1 %}
    <article class="single">
        <div class="before-main hero-thumb">
            <div class="hero-wrapper">
                <div class="hero-meta">
                    <h1 class="post-title">{{blogs.title}}</h1>
                </div>
                <div class="hero-cover"
                    style="background-image: url(/media/{{blogs.image}}); background-size: cover; background-position: center; ">
                    <img src="/media/{{blogs.image}}" alt="{{ blogs.title }}" />
                </div>
            </div>
        </div>

        <div id="content"><textarea>{{ blogs.description }}</textarea></div>

        </div>

    </article>
    {% endblock %}
    {% else %}
    <h3 style="text-align: center;">{{Parent}}</h3>


</main>
    {% endif %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>







    {% endblock %}

