{% extends 'Base.html' %}

{% load static %}

<!--BOOTSTRAP GRID HERE-->


{% block content %}
<style>

    .card-img-top,img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    </style>
    <a class="btn btn-primary" style="margin-left: 90%;" href="{% url 'ParentCategoryview' %}"> Create Docs </a>
    <br>
    <br>
<div class="row">
{% for  blogs in article  %}
{% if blogs.public %}
<div class="col-md-4">
<div class="card " style=" width: auto;">
    <div class="shadow p-3 bg-white rounded">
        <div class="card-header card-img-top text-center bg-transparent border-0">
                <a  href="{% url 'completeArticle' blogs.slug %}"><img src="/media/{{blogs.image}}" height="70%" width="70%" > </a>
        </div>
        <div class="card-body">
            <br>
            <div  class="row">
                <div class="col-md-6">
            <a href="{% url 'completeArticle' blogs.slug %}" >{{blogs.Name}}</a>
         </div> 
         <div class="col-md-4"></div>
            <div class="col-md-2">
                <a href="{% url 'ParentCategoryEditView' blogs.id %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
            </div>
            <p class="post-title" style="text-align: left; ">{{blogs.description}}</p>   

        </div>
    </div>
</div><br></div><br>

{% endif %}
{% endfor %}
<br>
</div>
<div class="row">
{% if private %}
<h4>Private Articles</h4>
    {% for  blogs in private  %}
    {% for  blogs in blogs  %}
    <div class="col-md-4">
    <div class="card" style=" width: auto;">
        <div class="shadow p-3 bg-white rounded">
            <div class="card-header text-center bg-transparent border-0">
                    <a href="{% url 'completeArticle' blogs.slug %}"><img src="/media/{{blogs.image}" height="70%" width="70%" > </a>
            </div>
            <div class="card-body" >
                <div  class="row">
                    <div class="col-md-6">
                <a href="{% url 'completeArticle' blogs.slug %}" >{{blogs.Name}}</a>
             </div> 
             <div class="col-md-4"></div>
                <div class="col-md-2">
                    <a href="{% url 'ParentCategoryEditView' blogs.id %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                </div>
              

                <p class="post-title">{{blogs.description}}</p>   
            </div>
        </div>
    </div></div><br>
    
    {% endfor %}
    {% endfor %}
{% endif %}
    </div>
<!--REGULAR POSTS STARTS FOM HERE-->

<!-- <div class="article-list">
<h3 style="text-align: center;">Documentations</h3>
  <br>
<div class="row">
    {% for  blogs in article  %}
    {% if blogs.public %}
    <div class="col-md-4">
    <article class="card-horizontal" {% if forloop.counter > 8 %}style="display: none"{% endif %}>
        {% if blogs.image %}
        <div class="card-thumb" data-bg="/media/{{blogs.image}}">
            <a href="{% url 'completeArticle' blogs.slug %}"><img src="/media/{{blogs.image}}" height="70%" width="70%" > </a>
        </div>
        {% endif %}
        <div class="card-detail">
            <h2 class="post-title"><a href="{% url 'completeArticle' blogs.slug %}" >{{blogs.Name}}</a></h2> 
        
        </div>
    </article>
</div>
{% endif %}
    {% endfor %}

    {% for  blog in private  %}
    {% for  blogs in blog  %}
    <div class="col-md-4">
    <article class="card-horizontal" {% if forloop.counter > 8 %}style="display: none"{% endif %}>
        {% if blogs.image %}
        <div class="card-thumb" data-bg="/media/{{blogs.image}}">
            <a href="{% url 'completeArticle' blogs.slug %}"><img src="/media/{{blogs.image}}" > </a>
        </div>
        {% endif %}
        <div class="card-detail">
            <h2 class="post-title"><a href="{% url 'completeArticle' blogs.slug %}" >{{blogs.Name}}</a></h2> 
        
            <div class="text-right"><a href="{% url 'completeArticle' blogs.slug %}" >READ MORE</a></div>
        </div>
    </article>
</div>
{% endfor %}
{% endfor %}
    
</div> -->




</div>

{% endblock %}